<div class="apl-album">
	<div class="apl-album__media">
		<img src="{{albumItem.imgUrl}}" loading="lazy" alt="">
	</div>
	<div class="apl-album__details">
		<div class="apl-item-subheading">{{albumItem.label}}</div>
		<div class="apl-item-name">{{albumItem.name}}</div>
		<div class="apl-item-subname">{{albumItem.subName}}</div>
		<div class="apl-album__links">
			<a href="#" class="apl-album-link">
				<img src="./assets/spotify-btn.svg" loading="lazy" alt="">
			</a>
			<a href="#" class="apl-album-link">
				<img src="./assets/apple-music-btn.svg" loading="lazy" alt="">
			</a>
		</div>
	</div>
</div>
