<div class="apl-merch">
	<div class="apl-merch__media">
  <img src="{{merchItem.imgUrl}}" loading="lazy" alt="">
		<span class="apl-merch-tag">STOCK</span>
	</div>
	<div class="apl-merch__details">
		<div class="apl-item-name">{{merchItem.name}}</div>
		<div class="apl-item-price">{{merchItem.price}}</div>
	</div>
</div>
