<div class="apl-song">
  <div class="apl-song__wrapper">
    <div class="apl-song__media">
      <img src="{{songItem.imgUrl}}" loading="eager" alt="">
    </div>
    <div class="apl-song__details">
      <span class="apl-item-name">{{songItem.name}}</span>
      <span class="apl-item-subname">{{songItem.subName}}</span>
    </div>
  </div>
</div>